<template>
    <div id="algorithms" class="elevation-2">
        <h2 class="mt-1 primary-dark--text">{{ 'Navigation.Algorithms' | translate }}</h2>
        <div v-for="(algorithm, i) in algorithms" :key="i" class="mt-4">
            <div class="item-group">
                <v-icon>code</v-icon>
                <div class="ml-2">{{algorithm.filename}}</div>
            </div>
            <div class="item-group">
                <div>{{ 'Shared.Datasets' | translate }}:</div>
                <div class="ml-2">{{algorithm.datasets}}</div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import { GET_ALGORITHMS } from '../store/actionTypes';

export default {
    name: 'Algorithms',
    data() {
        return {
            algorithms: []
        };
    },
    beforeMount() {
        this[GET_ALGORITHMS]()
            .then(algorithms => {
                this.algorithms = algorithms;
            });
    },
    methods: {
        ...mapActions([GET_ALGORITHMS])
    }
};
</script>

<style scoped>
#algorithms {
    background-color: white;
    padding: 16px;
}

.item-group {
    display: flex;
}
</style>
