<template>
    <div id="collection-detail-card" class="elevation-2">
        <div class="centered" v-if="isLoading"><v-progress-circular indeterminate color="primary-dark"></v-progress-circular></div>
        <v-container fluid grid-list-lg>
            <div id="collection-name" class="mt-1">
                <h1 class="primary-dark--text">{{collection.name}}</h1>
                <a :href="collection.about.web" target="_blank" class="mt-1">
                    <v-icon class="ml-2 icon" color="primary-dark">explore</v-icon>
                </a>
            </div>
            <div>{{ collection.about.description }}</div>
            <div class="mt-4">
                <h2 class="primary-dark--text">{{ 'Shared.Authors' | translate }}</h2>
                <div v-for="(author, i) in collection.about.authors" :key="i">
                    <div class="mt-2">{{ author.name }}</div>
                    <div>{{ author.bio }}</div>
                </div>
            </div>
            <h2 class="mt-4 primary-dark--text">{{ 'Shared.Datasets' | translate }}</h2>
            <v-layout justify-center align-center>
                <v-flex xs12 v-for="(dataset, i) in datasets" :key="i">
                    <div @click="goToDataset(dataset.id)" class="dataset-card">
                        <v-card class="primary-dark--text">
                            <v-card-title primary-title>
                                <h3 class="headline mb-0">{{dataset.name}}</h3>
                            </v-card-title>
                            <v-card-media :src=dataset.thumbnail height="200px" />
                        </v-card>
                    </div>
                </v-flex>
            </v-layout>
            <div class="mt-4" v-if="collection.about.libs.length > 0">
                <h2 class="primary-dark--text">{{ 'Shared.Libs' | translate }}</h2>
                <div v-for="(lib, i) in collection.about.libs" :key="i">
                    <div class="my-2 lib">
                        <h3>{{ lib.name }}</h3>
                        <v-icon class="ml-2 icon" color="primary-dark" @click="downloadLib(lib)">cloud_download</v-icon>
                    </div>
                    <div>{{ lib.description }}</div>
                </div>
            </div>
            <div class="mt-4" v-if="collection.about.papers.length > 0">
                <h2 class="primary-dark--text">{{ 'Shared.Papers' | translate }}</h2>
                <div v-for="(paper, i) in collection.about.papers" :key="i">
                    <h3 class="mt-4 mb-2">{{ paper.name }}</h3>
                    <pre>{{ paper.lines.join('\n') }}</pre>
                </div>
            </div>
        </v-container>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import { GET_COLLECTION, GET_DATASETS } from '../store/actionTypes';
import { DATASET_ROUTE } from '../router/routes';
import { downloadBase64 } from '../helpers/files';

export default {
    name: 'collection-detail',
    data() {
        return {
            collection: {
                name: '',
                about: {
                    web: '',
                    description: '',
                    authors: [],
                    papers: [],
                    libs: []
                }
            },
            datasets: [],
            isLoading: false
        };
    },
    beforeMount() {
        this[GET_COLLECTION](this.getCollectionId())
            .then(collection => {
                this.collection = collection;
            });
        this.isLoading = true;
        this[GET_DATASETS](this.getCollectionId())
            .then(datasets => {
                this.datasets = datasets.map(d => ({ ...d, thumbnail: `data:image/png;base64,${d.thumbnail}` }));
            })
            .then(() => { this.isLoading = false; });
    },
    methods: {
        downloadLib(lib) {
            downloadBase64(`${lib.name}.zip`, 'base64files');
        },
        getCollectionId() {
            return this.$route.params.id || '';
        },
        goToDataset(datasetId) {
            this.$router.push({ name: DATASET_ROUTE, params: { datasetId: datasetId } });
        },
        ...mapActions([GET_COLLECTION, GET_DATASETS])
    }
};
</script>

<style scoped>
#collection-detail-card {
    background-color: white;
}

.dataset-card:hover {
    cursor: pointer;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
}
#collection-name {
    display: flex;
}
.lib {
    display: flex;
}
.icon:hover {
    cursor: pointer;
}
</style>
