<template>
    <div id="detail" class="elevation-2">
        <div class="centered" v-if="isLoading"><v-progress-circular indeterminate color="primary-dark"></v-progress-circular></div>
        <h1 class="primary-dark--text">{{ dataset.name }}</h1>
        <div>
            <div id="images-title">
                <h2 class="subtitle primary-dark--text">{{ 'Shared.Images' | translate }}</h2>
                <v-icon id="download-button" color="primary-dark" @click="downloadImages">cloud_download</v-icon>
            </div>
            <img v-for="(thumbnail, i) in dataset.thumbnails" :src="`data:image/png;base64,${thumbnail}`" :alt="`${dataset.name} image`" :key="i" class="thumbnail">
        </div>
        <div v-if="dataset.hasVideo">
            <h2 class="subtitle primary-dark--text">{{ 'Shared.Videos' | translate }}</h2>
            <youtube-media id="youtube-media" :video-id="dataset.videoId"></youtube-media>
        </div>
        <div>
            <h2 class="subtitle primary-dark--text">{{ 'Shared.Rankings' | translate }}</h2>
            <v-data-table
                :no-data-text="'No.Data.Text' | translate"
                :headers="getHeaders(dataset)"
                :items="getRows(dataset)"
                hide-actions
                class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.name }}</td>
                    <td v-for="(v, i) in props.item.evaluations" :key="i">{{ v }}</td>
                </template>
            </v-data-table>
        </div>
        <v-dialog v-model="isOpenedUploadDialog" max-width="600px">
            <div id="dialog-content">
                <v-select
                    :items="selectOptions"
                    :label="'Upload.Selector.Choose.Text' | translate"
                    item-value="id"
                    item-text="text"
                    v-model="selectedOption"
                    @change="onSelectionChange"
                ></v-select>
                <MediaDropzone v-if="userIsDatabaseAdministrator" :url="dropzoneUrl" @uploadQueueCompleted="uploadCompleted" ref="mediaDropzone"/>
                <v-btn class="mt-5" color="primary" dark flat @click="closeUploadDialog">{{ 'Shared.Close' | translate }}</v-btn>
            </div>
        </v-dialog>
        <v-btn v-if="userIsDatabaseAdministrator" color="primary-dark" dark medium fixed bottom right fab @click="openUploadDialog">
            <v-icon>add</v-icon>
        </v-btn>
    </div>
</template>

<script>
import user from '../utils/user';
import { mapActions } from 'vuex';
import MediaDropzone from './MediaDropzone';
import { GET_DATASET } from '../store/actionTypes';
import { UPLOAD_MEDIA_ROUTE, UPLOAD_ALGORITHM_ROUTE } from '../infrastructure/apiRoutes';
import {downloadBase64} from '../helpers/files';

export default {
    name: 'dataset-detail',
    components: { MediaDropzone },
    data() {
        return {
            dataset: {
                id: '',
                name: '',
                thumbnails: [],
                hasVideo: false,
                videoId: '',
                ranking: {
                    headerColumnNames: [],
                    rankingRows: []
                }
            },
            dropzoneUrl: `${UPLOAD_ALGORITHM_ROUTE}?datasetId=${this.getDatasetId()}`,
            userIsDatabaseAdministrator: user.isDatabaseManager(),
            isOpenedUploadDialog: false,
            selectOptions: user.isDatabaseManager() ? [
                {
                    id: 1,
                    text: this.$t('Upload.Selector.Algorithm.Text')
                },
                {
                    id: 2,
                    text: this.$t('Upload.Selector.Media.Text')
                }]
                : [
                    {
                        id: 1,
                        text: this.$t('Upload.Selector.Algorithm.Text')
                    }
                ],
            selectedOption: 1,
            isLoading: true
        };
    },
    beforeMount() {
        this.getDataset();
    },
    methods: {
        getDataset() {
            this.isLoading = true;
            this[GET_DATASET]({ collectionId: this.getCollectionId(), datasetId: this.getDatasetId() })
                .then(dataset => {
                    this.dataset = dataset;
                })
                .then(() => { this.isLoading = false; });
        },
        getCollectionId() {
            return this.$route.params.id || '';
        },
        getDatasetId() {
            return this.$route.params.datasetId || '';
        },
        uploadCompleted() {
            this.getDataset();
            this.closeUploadDialog();
        },
        openUploadDialog() {
            this.isOpenedUploadDialog = true;
        },
        closeUploadDialog() {
            this.isOpenedUploadDialog = false;
        },
        onSelectionChange(id) {
            if (id === 1) {
                this.dropzoneUrl = `${UPLOAD_ALGORITHM_ROUTE}?datasetId=${this.getDatasetId()}`;
                this.$refs['mediaDropzone'].setOption('url', this.dropzoneUrl);
            }
            if (id === 2) {
                this.dropzoneUrl = `${UPLOAD_MEDIA_ROUTE}?datasetId=${this.getDatasetId()}`;
                this.$refs['mediaDropzone'].setOption('url', this.dropzoneUrl);
            }
        },
        downloadImages() {
            downloadBase64(`${this.dataset.name}.zip`, 'base64files');
        },
        getHeaders(dataset) {
            return [{ text: this.$t('Shared.Algorithm'), align: 'left', sortable: false }, ...dataset.ranking.headerColumnNames.map(h => ({ text: h, align: 'left', sortable: false }))];
        },
        getRows(dataset) {
            return dataset.ranking.rankingRows.map(r => ({name: r.name, evaluations: r.evaluations}));
        },
        ...mapActions([GET_DATASET])
    }
};
</script>

<style scoped>
#images-title {
    display: flex;
}
#download-button:hover {
    cursor: pointer;
}
.subtitle {
    padding: 12px;
}
#detail {
    background-color: white;
    padding: 16px;
}
.thumbnail {
    width: 200px;
    margin: 10px;
}
#youtube-media {
    padding: 10px;
}
#dialog-content {
    background-color: white;
    padding: 16px;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
}
</style>
