<template>
    <v-footer color="primary-light" fixed app>
        <span class="white--text ml-2">{{applicationName}} &copy; 2019</span>
    </v-footer>
</template>

<script>
import config from '../../config/config';

export default {
    name: 'Footer',
    data() {
        return {
            applicationName: config.applicationName
        };
    }
};
</script>

<style scoped>

</style>
