<template>
    <div>
        <v-navigation-drawer app
                             fixed
                             temporary
                             width="180"
                             v-model="drawer">
            <v-list>
                <v-list-tile :to="routes.HOME_ROUTE">
                    <v-list-tile-action>
                        <v-icon>home</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{'Navigation.Home' | translate }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile :to="routes.ALGORITHMS_ROUTE" v-if="userIsLoggedIn">
                    <v-list-tile-action>
                        <v-icon>code</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{'Navigation.Algorithms' | translate }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar color="primary" dark fixed clipped-left app>
            <v-toolbar-side-icon @click.stop="toggleDrawer"></v-toolbar-side-icon>
            <v-toolbar-title>{{applicationName}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu offset-y>
                <v-toolbar-title slot="activator">
                    <span id="selected-language">{{selectedLanguage | translate}}</span>
                    <v-icon dark>arrow_drop_down</v-icon>
                </v-toolbar-title>
                <v-list dense>
                    <v-list-tile v-for="(lang, i) in languages" :key="i" @click="languageSelected(lang)">
                        <v-list-tile-content class="align-center">
                            <span>{{lang | translate}}</span>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-menu>
            <v-menu v-if="userIsLoggedIn" offset-y>
                <v-btn icon large slot="activator">
                    <v-icon>account_circle</v-icon>
                </v-btn>
                <v-list dense>
                    <v-list-tile v-for="(action, i) in profileMenuActions" :key="i" @click="action.execute">
                        <v-list-tile-content class="align-center">
                            <v-icon v-if="action.isIcon">{{action.icon}}</v-icon>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-menu>
            <v-btn v-else flat :to="routes.LOGIN_ROUTE">{{ 'LoginPage.Login' | translate }}</v-btn>
        </v-toolbar>
    </div>
</template>

<script>
import user from '../utils/user';
import config from '../../config/config';
import * as routes from '../router/routes';
import {CHANGE_LANGUAGE} from '../store/actionTypes';

export default {
    name: 'Header',
    data() {
        return {
            routes,
            drawer: false,
            userIsLoggedIn: user.exists(),
            profileMenuActions: [
                {
                    isIcon: true,
                    icon: 'exit_to_app',
                    execute: () => {
                        user.clear();
                        this.$router.push(routes.LOGIN_ROUTE);
                    }
                }],
            applicationName: config.applicationName
        };
    },
    computed: {
        selectedLanguage() {
            return this.$store.getters.selectedLanguage;
        },
        languages() {
            return config.languages.filter(lang => lang !== this.$store.getters.selectedLanguage);
        }
    },
    methods: {
        languageSelected(lang) {
            this.$i18n.set(lang);
            this.$store.commit(CHANGE_LANGUAGE, lang);
        },
        toggleDrawer() {
            this.drawer = !this.drawer;
        }
    }
};
</script>

<style scoped>
    #selected-language {
        font-size: 16px;
    }
</style>
