<template>
    <div class="home-page-card elevation-2">
        <p id="title">{{ 'Home.WelcomeText' | translate }}.</p>
        <v-container fluid grid-list-lg>
            <h2 class="mt-1 primary-dark--text">{{ 'Shared.Collections' | translate }}</h2>
            <v-layout justify-center align-center>
                <v-flex xs12 v-for="(collection, i) in collections" :key="i">
                    <v-card color="primary-dark" class="white--text">
                        <v-card-title primary-title>
                            <h3 class="headline mb-0">{{collection.name}}</h3>
                        </v-card-title>
                        <v-divider />
                        <v-card-actions>
                            <v-btn flat
                                   class="collection-button"
                                   @click="goToCollection(collection.id)">
                                <div class="white--text">{{ 'Collections.ViewCollection' | translate }}</div>
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import { GET_COLLECTIONS } from '../store/actionTypes';
import { COLLECTION_DETAIL_ROUTE } from '../router/routes';

export default {
    name: 'home',
    beforeMount() {
        this[GET_COLLECTIONS]();
    },
    computed: {
        collections() {
            return this.$store.getters.getCollections;
        }
    },
    methods: {
        goToCollection(collectionId) {
            this.$router.push({ name: COLLECTION_DETAIL_ROUTE, params: { id: collectionId } });
        },
        ...mapActions([GET_COLLECTIONS])
    }
};
</script>

<style scoped>
#title {
    padding: 32px 16px 0 16px;
    color: #2c5b7b;
    font-size: 1.5em;
    text-align: justify;
}

.home-page-card {
    background-color: white;
}

.collection-button {
    width: 100%;
}
</style>
