<template>
    <v-layout>
        <v-flex sm8 md6 lg4 xl4 offset-sm2 offset-md3 offset-lg4 offset-xl4 class="mt-4">
            <v-card class="mt-4 px-0 py-4">
                <!--<v-card-media
                    :src="mainLogo"
                    height="160px"
                    contain
                />-->
                <v-card-actions>
                    <v-container text-xs-center class="pb-1 px-4">
                        <v-form v-model="valid">
                            <v-text-field
                                :label="$t('General.Email')"
                                v-model="email"
                                append-icon="email"
                                validate-on-blur
                                :rules="[ v => !!v || $t('General.RequiredField', {field: $t('General.Email')}),
                                          v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || $t('General.Not.Valid.Email')
                                        ]"
                                required
                            />
                            <v-text-field
                                :label="$t('General.Password')"
                                v-model="password"
                                append-icon="lock"
                                type="password"
                                :rules="[v => !!v || $t('General.RequiredField', {field: $t('General.Password')})]"
                                required
                                @keyup.enter="login"
                            />
                            <a @click="toRegister" class="text--primary-light float-left">{{ $t('Login.DoNotHaveAccount') }}</a><br>
                            <a @click="toHome" class="text--primary-light float-left">{{ $t('Login.Continue.Without') }}</a>
                            <v-btn
                                class="float-right mt-4"
                                @click="login"
                                :disabled="!valid"
                                :loading="loading"
                            >{{ $t('LoginPage.Login') }}</v-btn>
                        </v-form>
                    </v-container>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import user from '../utils/user';
import { mapActions } from 'vuex';
import {HOME_ROUTE, REGISTER_ROUTE} from '../router/routes';
import {LOGIN_RESEARCHER} from '../store/actionTypes';

export default {
    mounted() {
        user.clear();
    },
    data() {
        return {
            email: this.$route.params.user ? this.$route.params.user.email : '',
            password: '',
            registerRoute: REGISTER_ROUTE,
            valid: false,
            loading: false,
            mainLogo: require('./../assets/logo.png') // TODO: fix prod images
        };
    },
    methods: {
        login() {
            if (!this.valid) return;
            this.loading = true;
            const credentials = {
                email: this.email,
                password: this.password
            };
            this[LOGIN_RESEARCHER](credentials)
                .then(() => {
                    this.loading = false;
                    this.$router.push(HOME_ROUTE);
                });
        },
        toRegister() {
            this.$router.push(REGISTER_ROUTE);
        },
        toHome() {
            this.$router.push(HOME_ROUTE);
        },
        ...mapActions([LOGIN_RESEARCHER])
    }
};
</script>

<style scoped></style>
