<template>
    <div>
        <vue-dropzone id="dropzone" :options="dropzoneOptions" ref="mediaDropzone" @vdropzone-success="successEvent" @vdropzone-queue-complete="uploadQueueCompleted" @vdropzone-error="uploadError"/>
        <v-btn @click="send" class="float-right" color="primary-dark" dark>
            <v-icon>send</v-icon>
        </v-btn>
        <v-btn @click="clear" class="float-right" color="primary">
            <v-icon>clear_all</v-icon>
        </v-btn>
        <snackbar
              :visible="isSuccessfulVisible"
              :timeout="successfulSnackbarTimeout"
              :message="$t('Dropzone.Upload.Success')"
              color="success"
              @snackbarClosed="resetFlags"/>
            <snackbar
              :visible="isErrorVisible"
              :timeout="errorSnackbarTimeout"
              :message="$t('Dropzone.Upload.Error')"
              color="error"
              @snackbarClosed="showSuccessfulSnackbar"/>
    </div>
</template>

<script>
import user from '../utils/user';
import Snackbar from './Snackbar.vue';
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.min.css';

export default {
    name: 'MediaDropzone',
    components: { vueDropzone: vue2Dropzone, Snackbar },
    props: {
        url: { type: String },
        errorSnackbarTimeout: { type: Number, default: 4000 },
        successfulSnackbarTimeout: { type: Number, default: 2500 }
    },
    data() {
        return {
            dropzoneOptions: {
                url: this.url,
                thumbnailHeight: 100,
                parallelUploads: 10,
                autoProcessQueue: false,
                headers: { 'Authorization': `Bearer ${user.getAuthorizationToken()}` },
                dictDefaultMessage: this.$t('Dropzone.DropText')
            },
            hasAnySuccess: false,
            hasAnyErrors: false,
            isErrorVisible: false,
            isSuccessfulVisible: false
        };
    },
    methods: {
        clear() {
            this.$refs['mediaDropzone'].removeAllFiles();
        },
        send() {
            this.$refs.mediaDropzone.processQueue();
        },
        successEvent(file) {
            this.removeFile(file);
            this.hasAnySuccess = true;
        },
        uploadQueueCompleted() {
            if (this.hasAnyErrors) this.showErrorSnackbar();
            else this.showSuccessfulSnackbar();
            this.$emit('uploadQueueCompleted');
        },
        uploadError(file) {
            this.removeFile(file);
            this.hasAnyErrors = true;
        },
        showSuccessfulSnackbar() {
            this.isErrorVisible = false;
            if (this.hasAnySuccess) this.isSuccessfulVisible = true;
            this.resetFlags();
        },
        showErrorSnackbar() {
            this.isErrorVisible = true;
        },
        removeFile(file) {
            this.$refs['mediaDropzone'].removeFile(file);
        },
        resetFlags() {
            this.hasAnyErrors = false;
            this.hasAnySuccess = false;
        },
        setOption(optionName, value) {
            this.$refs['mediaDropzone'].setOption(optionName, value);
        }
    }
};
</script>

<style scoped>

</style>
