<template>
    <div id="page-container">
        <Header/>
        <v-content>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-content>
        <Footer/>
    </div>
</template>

<script>
import Header from './Header';
import Footer from './Footer';

export default {
    name: 'PageContainer',
    components: { Header, Footer }

};
</script>

<style scoped></style>
