<template>
    <v-layout>
        <v-flex sm8 md6 lg4 xl4 offset-sm2 offset-md3 offset-lg4 offset-xl4 class="mt-4">
            <v-card class="mt-4 px-0 py-4">
                <v-card-actions>
                    <v-container text-xs-center class="pb-1 px-4">
                        <v-form v-model="valid">
                            <v-text-field
                                :label="$t('General.Name')"
                                append-icon="person"
                                v-model="name"
                                :rules="[v => !!v || $t('General.RequiredField', {field: $t('General.Name')})]"
                                required
                            ></v-text-field>
                            <v-text-field
                                :label="$t('General.Email')"
                                append-icon="email"
                                v-model="email"
                                validate-on-blur
                                :rules="[ v => !!v || $t('General.RequiredField', {field: $t('General.Email')}),
                                          v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || $t('General.Not.Valid.Email')
                                        ]"
                                required
                            ></v-text-field>
                            <v-text-field
                                :label="$t('General.Password') + '1'"
                                v-model="password1"
                                append-icon="lock"
                                :rules="[v => !!v || $t('General.RequiredField', {field: $t('General.Password')})]"
                                type="password"
                                required
                            ></v-text-field>
                            <v-text-field
                                :label="$t('General.Password') + '2'"
                                v-model="password2"
                                append-icon="lock"
                                :rules="[v => !!v || $t('General.RequiredField', {field: $t('General.Password')})]"
                                type="password"
                                required
                            ></v-text-field>
                            <a @click="toLogin" class="text--primary-light float-left">{{ $t('Register.HaveAccount') }}</a>
                            <v-btn
                                class="float-right mt-4"
                                @click="register"
                                :loading="loading"
                                :disabled="!valid"
                            >{{ $t('RegisterPage.Register.Text') }}</v-btn>
                        </v-form>
                    </v-container>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import { mapActions } from 'vuex';
import {LOGIN_ROUTE} from '../router/routes';
import {REGISTER_RESEARCHER} from '../store/actionTypes';

export default {
    data() {
        return {
            name: '',
            email: '',
            password1: '',
            password2: '',
            loading: false,
            valid: false
        };
    },
    methods: {
        register() {
            this.loading = true;
            const credentials = {
                name: this.name,
                email: this.email,
                password: this.password1
            };
            this[REGISTER_RESEARCHER](credentials)
                .then((user) => {
                    this.loading = false;
                    this.$router.push({name: LOGIN_ROUTE, params: {user}});
                });
        },
        toLogin() {
            this.$router.push(LOGIN_ROUTE);
        },
        ...mapActions([REGISTER_RESEARCHER])
    }
};
</script>

<style scoped></style>
