<template>
  <v-snackbar v-model="visible"
              :timeout="timeout"
              :color="color"
              bottom
              :right="right"
              >{{message}}
    <span class="close-cross" @click="snackbarClosed">&times;</span>
  </v-snackbar>
</template>

<script>
export default {
    name: 'snackbar',
    props: {
        timeout: { type: Number, default: 6000 },
        message: String,
        color: { type: String, default: '' },
        visible: { type: Boolean, default: false },
        right: { type: Boolean, default: true }
    },
    methods: {
        snackbarClosed() {
            this.$emit('snackbarClosed');
        }
    },
    watch: {
        visible(isVisible) {
            if (isVisible) setTimeout(this.snackbarClosed, this.timeout);
        }
    }
};
</script>

<style scoped>
.close-cross {
  font-size: 24px;
  margin-left: 10px;
}

.close-cross:hover {
  cursor: pointer;
}
</style>
