<template>
    <v-app id="app" light>
        <router-view></router-view>
    </v-app>
</template>

<script>
export default {
    name: 'App'
};
</script>

<style scoped>
    #app {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #e1e2e1;
    }

    body {
        background-color: #e1e2e1;
    }
</style>
